[bot]
token = "TOKEN"

[bot.fsm]
data_bucket = 'fsm_data_aiogram'
states_bucket = 'fsm_states_aiogram'

[nats]
dsn = "nats://nats"

[redis]
dsn = "redis://redis/0"

[db]
db_name = 'bot'
adapter = 'asyncpg'
username = 'username'
password = 'password'
host = 'postgres'
pool_size = 10
max_overflow = 10
