# rename to .secrets.toml
[bot]
token = "123"

[bot.fsm]
data_bucket = 'fsm_data_aiogram'
states_bucket = 'fsm_states_aiogram'

[nats]
dsn = "nats://localhost:4222"

[redis]
dsn = "redis://localhost:6379/0"

[db]
db_name = 'bot'
adapter = 'asyncpg'
username = 'username'
password = 'password'
host = 'localhost:5432'
